<div class="row">
  <div>
    <h3 class="header">
      FLIGHT DETAILS
      <mat-icon class="float-right" (click)="close()"> close </mat-icon>
    </h3>
    <span class="label">Code: {{ flight.code }}</span>
    <p class="label">Crew:</p>
    <ul>
      <li *ngFor="let member of flight.crew">
        {{ member.name }}
      </li>
    </ul>
    <div class="edit-button-container">
      <button mat-raised-button class="edit-button" (click)="goToEditFlight()">
         EDIT FLIGHT
      </button>
    </div>
  </div>
</div>
