.app-details {
  .app-details__header {
    display: flex;
    justify-content: space-between;
  }

  .app-details__edit-button-container {
    display: flex;
    justify-content: center;
  }

  .app-details__edit-button {
    background: #f16268;
  }

  .app-details__float-right {
    cursor: pointer;
  }

  ul {
    list-style-type: none;
  }
}
