<div class="app-flight-form">
  <form class="app-flight-form__form" [formGroup]="form">
    <div class="app-flight-form__input-text-field">
      <div class="app-flight-form__form-field">
        <div>
            <mat-form-field>
              <input matInput formControlName="code" placeholder="Code" #codeInput>
              <mat-error *ngIf="form.get('code')?.errors?.required">Code is required</mat-error>
              <mat-error *ngIf="form.get('code')?.errors?.minlength">Minimum length is 4 chars</mat-error>
              <mat-error *ngIf="form.get('code')?.errors?.maxlength">Maximum length is 7 chars</mat-error>
              <mat-hint align="end"> {{ codeInput.value.length }} / 7</mat-hint>
            </mat-form-field>
          </div>
        <div>
          <div>
            <mat-form-field>
              <input matInput formControlName="origin" placeholder="Origin">
            </mat-form-field>
          </div>
        </div>
        <div>
          <div>
            <mat-form-field>
              <input matInput formControlName="destination" placeholder="Destination">
            </mat-form-field>
          </div>
        </div>
        <div>
          <div>
              <input type="time" formControlName="departureTime">
              <input type="date" matInput formControlName="departureDate" placeholder="Departure">
          </div>
        </div>
        <div>
          <div>
              <input type="time" formControlName="returnTime">
              <input type="date" matInput formControlName="returnDate" placeholder="Return">
          </div>
        </div>
        <div>
          <div>
            <textarea matInput formControlName="additionalInformation" placeholder="Additional Information"></textarea>
          </div>
        </div>
        <div>
          <div>
            <mat-checkbox color="warn" formControlName="withSKPlanesDiscount">With WP Discount</mat-checkbox>
          </div>
        </div>
      </div>
    </div>

    <h5 class="app-flight-form__crew-member-title">Crew Members:</h5>
    <div class="app-flight-form__crew">
        <div formArrayName="crew" class="app-flight-form__crew-container shadow" *ngFor="let crewMember of crew.controls;index as index">
          <div class="app-flight-form__crew-header">
            <div class="app-flight-form__crew-title">
              <mat-icon class="app-flight-form__float-right" (click)="removeCrewMember(index)">close</mat-icon>
            </div>

            <div [formGroupName]="index">
              <div>
                <mat-form-field>
                  <input matInput formControlName="name" placeholder="Name">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <mat-select formControlName="job" placeholder="Job">
                    <mat-option *ngFor="let job of jobs" [value] = "job.value">{{ job.label }} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="app-flight-form__buttons-field">
      <div>
        <div>
          <button mat-raised-button class="app-flight-form__button" (click)="addCrewMember()">Add crew member<mat-icon>add</mat-icon></button>
        </div>
      </div>
    </div>
  </form>
</div>
