.crew-container {
  margin-top: 15px;
  padding: 15px;
  background: white;
}

.crew-header {
  margin-bottom: 20px;
  font-weight: bold;
}

.mat-form-field {
  width: 100%;
}

.mat-dialog-title {
  text-align: center;
}

.crew-container.shadow {
  justify-content: center;
  width: 75%;
}
