<form [formGroup]="form">
  <div class="row">
    <div class="col-sm-8">
      <mat-form-field>
        <input matInput formControlName="code" placeholder="Code">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput formControlName="origin" placeholder="Origin">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput formControlName="destination" placeholder="Destination">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput formControlName="departureTime" placeholder="Departure time">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput formControlName="returnTime" placeholder="Return time">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <textarea matInput formControlName="additionalInformation" placeholder="Additional Information"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-checkbox formControlName="withSKPlanesDiscount">With WP Discount</mat-checkbox>
    </div>
  </div>
  <div class="crew-container shadow" *ngFor="let crewMember of [1, 2, 3];index as index">
    <div class="row crew-header">
      <div class="col">
        <span>Crew Member - {{ index + 1}} </span>
        <mat-icon class="float-right">delete_forever</mat-icon>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <mat-form-field>
            <input matInput placeholder="Name">
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field>
            <mat-select placeholder="Job">
              <mat-option *ngFor="let x of ['stewardess', 'pilot', 'mechanic']"> {{ x }} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button mat-raised-button color="primary">Add crew member</button>
    </div>
  </div>
</form>
<pre>{{ form.value | json }}</pre>
