@use 'src/assets/variables/colors';

.app-flight-form {
  display: flex;
  justify-content: center;

  .app-flight-form__crew-container {
    margin-top: 15px;
    padding: 15px;
    background: white;
  }

  .app-flight-form__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .app-flight-form__crew-header {
    margin-bottom: 20px;
    font-weight: bold;
  }

  .app-flight-form__float-right {
    cursor: pointer;
  }

  .app-flight-form__form-field {
    display: flex;
    flex-direction: column;
  }

  .app-flight-form__button {
    background: colors.$primary;
    margin-top: 3%;
  }

  .app-flight-form__crew {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .app-flight-form__crew-title {
    display: flex;
    justify-content: flex-end;
  }

  .app-flight-form__input-text-field {
    width: 50%;
  }

  .app-flight-form__crew-container {
    margin: 15px;
    width: calc(33% - 30px);
  }

  .app-flight-form__crew-member-title {
    margin-top: 5%;
  }
}

.mat-form-field {
  width: 100%;
}

.mat-dialog-title {
  text-align: center;
}

.crew-container.shadow {
  justify-content: center;
  width: 75%;
}


