<div class="app-flight-card">
  <div class="app-flight-card__card-container">
    <div class="app-flight-card__card-content shadow">
      <div class="row">
        <div class="app-flight-card__col-ori-desti">
          <div>
            <p class="origin">{{ flight.origin }} - {{flight.destination}}</p>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col">
            <p class="app-flight-card__date"><mat-icon> event </mat-icon> {{ flight.departureDate }}</p>
            <p class="app-flight-card__date"><mat-icon> schedule </mat-icon> {{ flight.departureTime }}</p>
          </div>
          <div>
            <mat-icon> trending_flat </mat-icon>
          </div>
          <div>
            <p class="app-flight-card__time"><mat-icon> event </mat-icon> {{ flight.returnDate }}</p>
            <p class="app-flight-card__time"><mat-icon> schedule </mat-icon> {{ flight.returnTime }}</p>
          </div>
        </div>
    </div>
      <div class="shadow app-flight-card__icon-container">
        <mat-icon> airplanemode_active </mat-icon>
      </div>
  </div>
</div>
