@use 'src/assets/variables/colors';

.app-flight-card {

  :host {
    cursor: pointer;
  }

  .app-flight-card__card-container {
    padding: 10px;
    position: relative;
  }

  .app-flight-card__card-content.shadow {
    padding: 30px 20px;
    background: white;
    cursor: pointer;
  }

  .app-flight-card__col-ori-desti {
    display: contents;
  }

  .app-flight-card__time {
    text-align: center;
    font-size: 13px;
    color: grey;
  }

  .app-flight-card__date {
    text-align: center;
    font-size: 13px;
    color: grey;
  }

  .app-flight-card__icon-container {
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: -10px;
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 50%;
    z-index: 10;
    border: 1px solid grey;
    transform: translateX(-50%);

    mat-icon {
      color: colors.$black;
    }
  }

  .destination, .origin {
    font-size: 18px;
    font-weight: bold;
    color: colors.$primary;
  }

  .app-flight-card__icon-container {
    display: flex;
    align-items: center;
  }

  .row {
    justify-content: center;
  }

  .app-flight-card__card-container {
    margin-block: 3%;
  }

  .app-flight-card__departure {
    display: flex;
    justify-content: space-around;
  }

  .app-flight-card__departure-first {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
